@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

.navMenu {
  position: block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
  background: #ffffff;
}

.navMenu .navLink {
  
  color: #000000;
  text-decoration: none;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  padding: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu .navLink:hover {
  color: #fddb3a;
}

.navMenu .dot {
  width: 8px;
  height: 8px;
  background: #fddb3a;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu .navLink:nth-child(1):hover ~ .dot {
  -webkit-transform: translate(-335px, 15px);
  transform: translate(-335px, 15px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu .navLink:nth-child(2):hover ~ .dot {
  -webkit-transform: translate(-335px, 15px);
  transform: translate(-190px, 15px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu .navLink:nth-child(3):hover ~ .dot {
  -webkit-transform: translate(-335px, 15px);
  transform: translate(-60px, 15px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu .navLink:nth-child(4):hover ~ .dot {
  -webkit-transform: translateX(285px);
  transform: translateX(320px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
